In [1]:
import pandas as pd

In [2]:
colunas = ['NU_INSCRICAO', 'NU_ANO','CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_ESC',
           'SG_UF_ESC', 'TP_FAIXA_ETARIA']

In [3]:
df = pd.read_csv('MICRODADOS_ENEM_2018.csv', sep=";", encoding='ISO-8859-1', usecols=colunas, nrows=1000)

In [4]:
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,CO_UF_ESC,SG_UF_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA
0,180007186625,2018,2,15.0,PA,1500800,Ananindeua
1,180007186627,2018,3,NaN,NaN,1503200,Igarapé-Açu
2,180007186628,2018,3,31.0,MG,3155603,Rio Pardo de Minas
3,180007186629,2018,2,15.0,PA,1500800,Ananindeua
4,180007186631,2018,11,NaN,NaN,2610905,Pesqueira